body {
    text-align: center;
    background: url("shipbackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#players {
    color: white
}

#player1 {
    opacity: 0.8;
    width: 500px;
    background-color: #FF8C00;
    border-color: white;
}

#player2 {
    opacity: 0.8;
    width: 500px;
    background-color: #FF4500;
    border-color: white;
}

.carrier {
    background-color: #FFFF00 !important;
}

.battleship {
    background-color: #32CD32 !important;
}

.submarine {
    background-color: #20B2AA !important;
}

.destroyer {
    background-color: #000000 !important;
}

.patrolboat {
    background-color: #FFFFFF !important;
}

.salvo {
    background-color: #0d6efd !important;
}

.hitSalvo {
    background-color: red !important;
}
